{% extends 'users_base.html' %}

{% block title %}找回密码{% endblock %}

{% block heading %}
<div class="col-xs-12">
    <h3 style="color: black">找回密码</h3>
</div>
{% endblock %}

{% block form %}
<form id="forget-form" method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="邮箱" required="required" autocomplete="off">
    </div>
    <div class="input-group">
        <input type="text" name="code_text" id="code_text" tabindex="2" class="form-control" placeholder="输入4位验证码" required="required" autocomplete="off">
        <span class="input-group-addon">
            <a id="change-captcha" href="javascript:void(0);" title="换一张"><img src="{% url 'captcha' %}?u={{ code_id }}" alt=""></a>
        </span>
    </div>
    <input type="hidden" name="code_id" value="{{ code_id }}">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" id="forget-submit" tabindex="3" class="btn btn-custom">下一步</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a href="{% url 'sign_in' %}" tabindex="4">返回登录</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js %}
    <script>
    $('#forget-form').submit(function () {
        var email = $("#email").val(),
            code_text = $("#code_text").val(),
            code_id = $("[name='code_id']").val();
        var data = {email: email, code_text: code_text, code_id: code_id};
        $.ajax({
            url: "{% url "verify_email" %}",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
            },
            success: function (result) {
                if (result['code'] === 0) {
                    window.location.href = {% url "forget_password2" %};
                }
                else {
                    show_error(result["message"]);
                    var timestamp = new Date().getTime();
                    $('#change-captcha img').attr("src", "{% url 'captcha' %}?u={{ code_id }}&random=" + timestamp)
                }
            },
            error: function() {
                show_error("服务器异常");
            }
        });
        return false
    });
    </script>
{% endblock %}
