{% extends 'users_base.html' %}

{% block title %}找回密码{% endblock %}

{% block heading %}
<div class="col-xs-12">
    <h3 style="color: black">重置密码</h3>
</div>
{% endblock %}

{% block form %}
<form id="reset-form" method="post">
    {% csrf_token %}
    <fieldset disabled>
    <div class="form-group">
        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="邮箱" required="required" autocomplete="off" value="{{ email }}">
    </div>
    </fieldset>
    <div class="input-group">
        <input type="text" name="email_code" id="email_code" tabindex="2" class="form-control" placeholder="输入4位邮箱验证码" required="required" autocomplete="off">
        <span class="input-group-btn">
            <button type="button" id="sendmail" class="btn btn-primary">获取邮箱验证码</button>
        </span>
    </div>
    <div class="form-group">
        <input type="password" name="password" id="password" tabindex="3" class="form-control" placeholder="设置密码" required="required" minlength="6" maxlength="30">
    </div>
    <div class="form-group">
        <input type="password" name="confirm_password" id="confirm_password" tabindex="4" class="form-control" placeholder="确认密码" required="required">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" id="reset-submit" tabindex="5" class="btn btn-custom">下一步</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a href="{% url 'sign_in' %}" tabindex="6">返回登录</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js %}
    <script>
    $('#reset-form').submit(function () {
        var email = $("#email").val(),
            email_code = $("#email_code").val(),
            password = $("#password").val(),
            confirm_password = $("#confirm_password").val();
        if (password != confirm_password) {
            show_error("两次输入的密码不一致");
            return false
        }
        var data = {email: email, email_code: email_code, password: password};
        $.ajax({
            url: "{% url "reset_password" %}",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
            },
            success: function (result) {
                if (result['code'] === 0) {
                    window.location.href = {% url "sign_in" %};
                }
                else {
                    show_error(result["message"]);
                }
            },
            error: function() {
                show_error("服务器异常");
            }
        });
        return false
    });
    </script>
{% endblock %}
