{% extends 'users_base.html' %}
{% load static %}

{% block title %}忘记密码 - 识码{% endblock %}

{% block form %}
    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        {% csrf_token %}
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="LAY-user-login-cellphone"></label>
          <input type="text" name="cellphone" id="LAY-user-login-cellphone" lay-verify="phone" placeholder="请输入注册时的手机号" class="layui-input">
        </div>
        <div class="layui-form-item">
          <div class="layui-row">
            <div class="layui-col-xs7">
              <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
              <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
            </div>
            <div class="layui-col-xs5">
              <div style="margin-left: 10px;">
                <img src="{% url 'captcha' %}?u={{ code_id }}" class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">
              </div>
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-forget-submit">找回密码</button>
        </div>
    </div>
{% endblock %}

{% block script %}
  <script>
  layui.config({
    base: '{% static "layuiadmin" %}/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'user'], function(){
    var $ = layui.$
    ,setter = layui.setter
    ,admin = layui.admin
    ,form = layui.form
    ,router = layui.router();

    form.render();

    //找回密码下一步
    form.on('submit(LAY-user-forget-submit)', function(obj){
      var field = obj.field;

      //请求接口
      $.ajax({
        url: '{% url "verify_phone" %}' //实际使用请改成服务端真实接口
        ,type: "POST"
        ,data: JSON.stringify({phone: field.cellphone, code_text: field.vercode, code_id: '{{ code_id }}'})
        ,dataType: "json"
        ,contentType:"application/json;charset=utf-8"
        ,beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
        }
        ,success: function(res){
            if (res['code'] === 0) {
                window.location.href = '{% url "forget_password2" %}';
            }
            else {
                layer.msg(res["message"]);
                $('#LAY-user-get-vercode').attr("src", "{% url 'captcha' %}?u={{ code_id }}&random=" + new Date().getTime());
            }
        }
        ,error: function() {
            alert("服务器异常");
        }
      });
      return false;
    });
  });
  </script>
{% endblock %}
