.post-comment, .message{
    padding-top: 20px;
}

.post-comment .input-group,.post-comment textarea {
    margin-bottom: 10px;
}

.post-comment .input-group>span>i {
    width: 20px;
}

.post-comment button {
    width: 100%;
}

.comment-message>.message-item {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #EAEAEA;
}

.message-details {
    margin-bottom: 10px;
}

.message-details>p {
    line-height: 22px;
    margin-bottom: 0;
    color: #777;
    font-size: 15px;
    padding-left: 50px;
}

.message-details>img {
    float: left;
    border-radius: 100%;
	width: 42px;
	height: 42px;
}

.message-details>a {
    float: right;
}

.message-details .blogger-sign {
    color: red;
}

.comment-content {
    color: #333;
    overflow: hidden;
}

ul.reply-message {
    margin-top: 10px;
    padding-left: 50px;
}

.reply-message>.message-item {
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid #EAEAEA;
}
