a, a:hover, a:focus {
	text-decoration: none;
}

.group-info {
    margin-bottom: 20px;
    padding: 20px 30px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.group-info h3, .group-info h4, .group-info h5 {
    margin: 0;
}

.input-group {
    margin-bottom: 15px;
}

.total_money {
    text-align: right;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
}

.text_money {
    color: #f60;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
}

.table-border {
    width: 100%;
}

.table-border tr td {
    padding: 8px;
    border: 1px solid #ddd;
}

.sub-title {
    position: relative;
    padding-left: 16px;
    margin-bottom: -1px;
    display: table;
    width: 100%;
    z-index: 1;
    height: 40px;
    border: 1px solid #E1E6EB;
    border-left: 3px solid #778;
    background-color: #F4F5F9;
}

.btn-cancel {
    margin: 0 0 5px 5px;
}
