body {
	color: #444;
	background-color: #f6f6f6;
	overflow-x: hidden;
	font-family: "Microsoft YaHei","微软雅黑","Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,button,input,textarea,p,span,th,td,article,aside,nav,section,img,a {
	transition: all 0.30s ease-in-out;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

/*自定义滚动条*/
html::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background: #CCC;
}
html::-webkit-scrollbar-button {
	display: none;
}
html::-webkit-scrollbar-track-piece {
	display: none;
}
html::-webkit-scrollbar-thumb {
	background: #888;
}
html::-webkit-scrollbar-thumb:hover {
	background: #3399CC;
}

a, a:hover, a:focus{
	cursor: pointer;
	text-decoration: none;
}

.container {
	max-width: 1200px;
}
.content-wrap {
	width: 100%;
	float: left;
}
.content {
	overflow: hidden;
	margin-right: 380px;
	margin-bottom: 15px;
}
body.single .content {
	padding: 0 20px;
	background-color: #fff;
	border: 1px solid #EAEAEA;
	border-radius: 4px;
}

/*小标题样式*/
.title {
	margin-bottom: 12px;
	overflow: hidden;
}
.title>h3 {
	font-size: 20px;
	margin: 0;
	float: left;
	cursor: pointer;
}
.title>h3:hover {
	color: #F73B3B;
}
.title>.more {
	float: right;
	position: relative;
	top: 0;
}
.title>.more>p {
	margin-bottom: 0;
	font-size: 16px;
}
.title>.more>p>span {
	color: #ee5b2e;
}
body.single .title {
	border-bottom: 1px solid #EAEAEA;
	padding-bottom: 10px;
}

.navbar-default {
	background-color: #fff;
}
.navbar-default .container .logo {
	padding: 5px 0 5px 10px;
}

/*页面缩放后的下拉按钮*/
.navbar-default .navbar-toggle {
	border-color: #3399CC;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #3399CC;
}

/*导航栏样式*/
.navbar-default .navbar-nav {
	padding-top: 5px;
}
.navbar-default .navbar-nav>li>a {
	color: #777;
	padding: 0 15px;
	line-height: 60px;
	font-size: 16px;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
	color: #3399CC;
}

/*搜索按钮*/
.btn-search {
	background: #3399CC;
	color: #FFF;
}
.btn-search:hover {
	background: #FFF;
	color: #3399CC;
}

/*滚动图*/
.carousel {
	margin-bottom: 20px;
}
.carousel-indicators {
	bottom: 6px;
}
.carousel-inner {
	width: 100%;
	max-height: 220px;
}
.carousel-inner .item a {
	text-align: center;
}
.carousel-inner .item img {
	margin: 0 auto;
	border-radius: 4px;
}
.carousel-control.left,.carousel-control.right {
	background: none;
}
.carousel-control {
	width: 40px;
	height: 80px;
	top: 50%;
	margin-top: -40px;
}
.carousel-control:hover {
	background-color: #000;
	opacity: .5;
	color: #fff;
}

/*主页文章*/
.excerpt-1 {
	border-radius: 4px 4px 0 0;
}
.excerpt {
	border: 1px solid #EAEAEA;
	padding: 20px 20px 20px 255px;
	overflow: hidden;
	background-color: #fff;
}
.excerpt:hover {
	background-color: #FBFDFF;
	border-color: #42B5EF;
}
.excerpt .focus {
	float: left;
	margin-left: -235px;
	width: 220px;
}
.excerpt .focus:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
	transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
}
.excerpt .thumb {
	border-radius: 5px;
	width: 220px;
	height: 150px;
}
.excerpt header {
	margin-bottom: 10px;
}
.excerpt .cat {
	color: #FFF;
	background-color: #3399CC;
	padding: 3px 6px;
	font-size: 12px;
	position: relative;
	top: -2px;
	margin-right: 6px;
}
.excerpt .cat:hover {
	opacity: .8;
}
.excerpt h2 {
	display: inline;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	word-wrap:break-word;
}
.excerpt h2 a {
	color: #555;
}
.excerpt h2 a:hover {
	color: #3399CC;
}
.excerpt .meta {
	color: #999;
	font-size: 12px;
	margin-bottom: 10px;
}
.excerpt .time,.excerpt .comment,.excerpt .views,.excerpt .praise {
	cursor: pointer;
	margin-right: 20px;
}
.excerpt .time:hover,.excerpt .comment:hover,.excerpt .views:hover ,.excerpt .praise:hover {
	color: #3399CC;
}
.excerpt .note {
	font-size: 14px;
	color: #999;
	word-wrap: break-word;
	line-height: 20px;
	overflow: hidden;
}

/*分页*/
.pagination-loading {
	text-align: center;
	padding: 15px 0;
}
.ias_trigger {
	margin-top: 15px;
}
.ias_trigger a {
	display: block;
	background-color: #E6E6E6;
	line-height: 32px;
	text-align: center;
	color: #999;
}
.ias_trigger a:hover {
	background-color: #DDD;
	color: #666;
}

/*右边的布局*/
.aside {
	float: left;
	margin-left: -360px;
	width: 360px;
}

.widget {
	margin-bottom: 15px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	overflow: hidden;
}
.widget>h3 {
	font-size: 18px;
	color: #666;
	border-bottom: 1px solid #eaeaea;
	background-color: #fbfbfb;
	margin: 0;
	padding: 10px 15px;
}
.widget>h3:hover {
	cursor: pointer;
	color: #F73B3B;
}

/*统计信息和联系站长*/
.widget-tabs {
	height: 190px;
}
.nav-tabs {
	background-color: #fbfbfb;
	line-height: 42px;
	height: 42px;
	border-bottom: 1px solid #EAEAEA;
}
.nav-tabs>li>a {
	outline: medium none;
	color: #777;
	margin-right: 0;
	border: 1px solid transparent;
	border-radius: 0;
	border-right: 1px solid #DDD !important;
}
.nav-tabs>li.active>a {
	color: #3399CC !important;
}
.widget-tabs .tab-content {
	padding: 15px;
}
.widget-tabs .tab-content h2 {
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	margin: 12px 0;
}
.widget-tabs .tab-content a {
	color: #444;
}
.widget-tabs .tab-content a:hover {
	color: #3399CC;
}

/*标签云*/
.plinks {
	padding: 0;
	overflow: hidden;
}
.plinks li {
	float: left;
	list-style: none;
}
.plinks li a {
	display: block;
	padding: 0 10px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #EAEAEA;
	margin: 10px 10px 1px 10px;
	color: #555;
	background: #EEE;
}
.plinks li span {
	background-color: #999;
}
.plinks li:hover a {
	border-color: #3399CC;
	color: #3399CC;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
	transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
}
.plinks li:hover span {
	background-color: #FFF;
	color: #3399CC;
}

/*文章推荐*/
.widget-hot ul {
	margin: 0;
	padding: 0;
}
.widget-hot li{
	list-style: none;
}
.widget-hot li a {
	padding: 10px 15px;
	color: #888;
	border-bottom: solid 1px #eee;
	display: block;
	font-size: 15px;
}
.widget-hot li a:hover {
	background-color: #FBFDFF;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
	transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
}
.widget-hot .text {
	display: block;
}
.widget-hot li a:hover .text {
	color: #3399CC;
}
.widget-hot .muted {
	margin-right: 15px;
	font-size: 12px;
	color: #BBB;
}

/*文章归档*/
.widget-file {
	overflow: visible;
}
.widget-file-block {
	padding: 12px 0 12px 15px;
}
.dropdown-menu {
	max-height: 415px;
	overflow: scroll;
}

/*友情链接*/
.widget-link-block {
	padding: 15px;
	line-height: 28px
}
.widget-link-block a {
	margin-right: 20px;
}

/*文章详情页*/
.article-header {
	margin-bottom: 20px;
	padding: 25px 0;
	border-bottom: 1px solid #EEE;
	text-align: center;
}
.article-title {
	margin-top: 0;
	font-size: 26px;
	line-height: 36px;
	word-wrap:break-word;
}
.article-meta {
	margin-top: 10px;
	font-size: 12px;
	color: #999;
}
.article-meta .item {
	margin-right: 20px;
	cursor: pointer;
}
.article-meta .item:hover {
	color: #3399CC;
}
.article-content {
	font-size: 15px;
	line-height: 25px;
	word-wrap: break-word;
}
.article-content h1 {
	margin: 18px -25px;
	padding: 0 25px;
	border-left: 5px solid #00a2ff;
	background-color: #f7f7f7;
	font-size: 18px;
	line-height: 40px
}
.article-content img {
	margin: 5px auto;
	display: block;
	max-width: 100%;
	height: auto;
}
.article-content img:hover {
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 0 6px rgba(51,153,204,.6);
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
	-webkit-transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
	transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
}

/*文章标签*/
.article-tags {
	margin-bottom: 20px;
}
.article-tags a {
	display: inline-block;
	padding: 4px 7px;
	margin: 0 0 10px 10px;
	color: #FFF;
	font-size: 12px;
	background-color: #aaa;
	border-radius: 2px;
	opacity: 0.85;
}
.article-tags a:hover {
	opacity: 1;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
	transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
}

.copyright {
	margin: 30px 20px;
    padding: 25px 20px 20px 20px;
	line-height: 25px;
    word-break: break-all;
    color: #727272;
    background: azure;
    border-radius: 10px;
}

/*相关推荐*/
.relates {
	margin-bottom: 25px;
}
.relates ul {
	padding-left: 18px;
	color: #BBB;
}
.relates li {
	margin-top: 12px;
}
.relates a {
	color: #777;
}
.relates a:hover {
	color: #3399CC;
	text-decoration: underline;
}

/*点赞打赏分享*/
.article-social {
	margin-bottom: 25px;
    padding-top: 10px;
	text-align: center;
}
.article-social .reward {
	display: inline-block;
	padding: 9px 12px;
	position: absolute;
	margin: -7px 0 0 -26px;
	background-color: #5fcec0;
	border-radius: 50%;
	border: 4px solid white;
	color: white;
	font-size: 22px;
}
.article-social .article-praise, .article-social .article-share {
	display: inline-block;
	padding: 10px 40px;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	background-color: #aaa;
	color: white;
	font-size: 16px;
}
.article-social .active {
	background-color: #f5a2a2;
}
.article-social .article-praise:hover, .article-social .article-share:hover {
	background-color: #f5a2a2;
}
.article-social .share-group {
	margin-top: 20px
}

.search-heading {
	background-color: #fff;
	padding: 15px 0 15px 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-radius: 0;
	margin-bottom: 15px;
}
.search-heading p {
	margin: 0;
	font-size: 18px;
}

/*底部样式*/
footer {
	padding: 18px 0;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	text-transform: uppercase;
	color: #666;
	background-color: #FFF;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
}
footer a {
	color: #666;
}
footer a:hover {
	color: #3399CC;
}
.gotop {
	cursor: pointer;
	position: fixed;
	right: 25px;
	bottom: 25px;
	z-index: 99999;
	width: 50px;
	height: 50px;
	background: url(/static/images/backtop.png) no-repeat 0 0;
	opacity: 0.5;
}
.gotop:hover {
	background: url(/static/images/backtop.png) no-repeat 0 -52px;
}

/*响应式*/
@media (min-width:768px) {
	.container {
		width: auto;
	}
}

@media (max-width:1000px) {
	.content {
		margin-right: 0;
	}

	.aside {
		display: none;
	}
}

@media (max-width:700px) {
	.excerpt .note {
		height: 60px;
	}
}

@media (max-width:640px) {
	.article-header {
		text-align: left;
		padding: 15px 0;
		margin-bottom: 10px;
	}

	.article-title {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 5px;
		line-height: 22px;
	}

	.article-meta .item {
		margin-right: 10px;
	}

	.excerpt {
		padding: 10px 10px 10px 180px;
	}

	.excerpt .focus {
		width: 160px;
		margin-left: -170px;
	}

	.excerpt .thumb {
		width: 160px;
		height: 109px;
	}

	.excerpt .note {
		height: 40px;
	}

	.excerpt .cat {
		display: none;
	}

	.excerpt h2 {
		font-size: 16px;
		line-height: 18px;
	}

	.title h3{
		font-size: 18px;
	}
}

@media (max-width:600px) {
	.carousel {
		display: none;
	}
	.excerpt .comment {
		display: none;
	}
}

@media (max-width:480px) {
	.excerpt {
		padding: 10px 10px 10px 120px;
	}

	.excerpt .focus {
		width: 100px;
		margin-left: -110px;
	}

	.excerpt .thumb {
		width: 100px;
		height: 68px;
	}

	.excerpt .note {
		display: none;
	}

	.excerpt .praise {
		display: none;
	}

	.excerpt .comment {
		display: none;
	}
}

@media (max-width:360px) {
	.article-header {
		padding: 10px 0;
		text-align: left;
	}

	.article-meta .item:nth-child(3),.article-meta .item:nth-child(4) {
		display: none;
	}

	.article-title {
		font-size: 16px;
	}

	.article-social {
		display: none;
	}

	.excerpt h2 {
		font-size: 14px;
		line-height: 18px;
	}

	.title .more {
		display: none;
	}
}