{% extends "center_base.html" %}
{% load static %}

{% block sidebar-menu %}
<ul class="sidebar-menu" data-widget="tree">
    <li class="treeview">
      <a href="#">
        <i class="fa fa-server"></i>
        <span>识别服务</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        {% for product_cell in products %}
            {% if product_cell.is_open %}
                <li><a href="{% url "service" pk=product_cell.id %}"><i class="fa fa-circle-o"></i> {{ product_cell.name }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li class="active treeview">
      <a href="#">
        <i class="fa fa-user"></i>
        <span>用户中心</span>
        <span class="pull-right-container">
          <span class="fa fa-angle-left pull-right"></span>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="{% url "account_profile" %}"><i class="fa fa-circle-o"></i> 账号管理</a></li>
        <li class="active"><a href="{% url "account_wallet" %}"><i class="fa fa-circle-o"></i> 我的钱包</a></li>
        <li><a href="{% url "account_order" %}"><i class="fa fa-circle-o"></i> 订单管理</a></li>
        <li><a href="/"><i class="fa fa-circle-o"></i> 识别记录</a></li>
      </ul>
    </li>
</ul>
{% endblock %}

{% block content %}
<section class="content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">我的钱包</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <label for="basic-url">可用余额</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-cny"></i></span>
              <input type="text" class="form-control" value="{{ wallet.balance }}" readonly>
              <span class="input-group-addon">元</span>
            </div>
          </div>
          <div class="col-lg-6">
            <label for="basic-url">充值</label>
            <form id="top-up-form" method="post">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" class="form-control" name='amount' id='amount' placeholder="欲充值金额" autocomplete="off" required="required">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">充值</button>
                  </span>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script>
    $('#top-up-form').submit(function () {
        var amount = $("#amount").val();
        var data = {amount: amount};
        $.ajax({
            url: "{% url "wallet_top_up" %}",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
            },
            success: function (result) {
                if (result['code'] === 0) {
                    window.location.href = result['data']['order_url'];
                }
                else {
                    alert("服务器异常");
                }
            },
            error: function () {
                alert("服务器异常");
            }
        });
        return false
    });
    </script>
{% endblock %}
