{% extends "center_base.html" %}
{% load static %}

{% block content %}
<section class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">订单详情</h1>
        </div>
        <div class="panel-body">
            <div class="sub-title"><h5>订单概况</h5></div>
            <table class="table-border">
                <tr>
                    <td class="col-lg-4">
                        <span class="name">订单编号： </span>
                        <span class="value">{{ order.order_id }}</span>
                    </td>
                    <td class="col-lg-4">
                        <span class="name">订单类型： </span>
                        <span class="value" id="transaction_type"></span>
                    </td>
                    <td class="col-lg-4">
                        <span class="name">订单金额： </span>
                        <span class="value">{{ order.amount }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-4">
                        <span class="name">下单时间： </span>
                        <span class="value">{{ order.add_time|date:'Y-m-d H:i:s' }}</span>
                    </td>
                    <td class="col-lg-4">
                        <span class="name">支付时间： </span>
                        {% if order.pay_time %}
                        <span class="value">{{ order.pay_time|date:'Y-m-d H:i:s' }}</span>
                        {% else %}
                        <span class="value">-</span>
                        {% endif %}
                    </td>
                    <td class="col-lg-4">
                        <span class="name">支付状态： </span>
                        <span class="value" id="pay_status"></span>
                    </td>
                </tr>
            </table>
            {% if order_product %}
            <br/>
            <div class="sub-title"><h5>商品概况</h5></div>
            <table class="table-border">
                {% if order.transaction_type != 4 %}
                <tr>
                    <td class="col-lg-4">
                        <span class="name">产品： </span>
                        <span class="value">{{ order_product.product_package.product.name }}</span>
                    </td>
                    <td class="col-lg-4">
                        <span class="name">套餐： </span>
                        <span class="value">{{ order_product.product_package }}</span>
                    </td>
                    <td class="col-lg-4">
                        <span class="name">周期： </span>
                        <span class="value">{{ order_product.period }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-4">
                        <span class="name">数量： </span>
                        <span class="value">{{ order_product.number }}</span>
                    </td>
                    <td class="col-lg-4">
                        <span class="name">额外每秒请求数： </span>
                        <span class="value">{{ order_product.additional_concurrency }}</span>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td class="col-lg-4">
                        <span class="name">产品： </span>
                        <span class="value">{{ order_product.channel.product.name }}</span>
                    </td>
                    <td class="col-lg-4">
                        <span class="name">新增每秒请求数： </span>
                        <span class="value">{{ order_product.new_additional_concurrency }}</span>
                    </td>
                </tr>
                {% endif %}
            </table>
            {% endif %}
            <div class="total_money">
                {% if order.pay_status == 1 %}
                <div>
                    <span>应付款：</span>
                    <span class="text_money"><i class="fa fa-cny"></i> <span id="money">{{ order.amount }}</span></span>
                </div>
                {% endif %}
                <div style="margin-top: 20px">
                    <a href="javascript:history.go(-1);" class="btn btn-warning" role="button">返回</a>
                    {% if order.pay_status == 1 %}
                    <a href="{{ order_url }}" class="btn btn-info btn-lg" role="button" style="margin-left: 20px">马上支付</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    var transaction_type_choices = {1: '充值', 2: '新购', 3: '续费', 4: '升级'},
        pay_status_choices = {1: "待支付", 2: "已完成", 3: "超时未支付", 4: "已取消"};
    var transaction_type = transaction_type_choices[{{ order.transaction_type }}],
        pay_status = pay_status_choices[{{ order.pay_status }}];
    $('#transaction_type').text(transaction_type);
    $('#pay_status').text(pay_status);
</script>
{% endblock %}
